body {
    background: #F3F5FC;
    margin: 40px 40px 40px 40px;
    font-family: 'Inter', sans-serif;
}

.logos {
    display: flex;
    justify-content: space-between;

}

.contenedor {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    
}

.inputtexto {
    background-color: transparent;
    width: 70%;
    height: 500px;
    text-align: center;


}

.resultado {
    background-color: white;
    width: 30%;
    height: 500px;
    text-align: center;
    border-radius: 5%;

}

.alert-icon {
    color: #0A3871;
    font-size: 12px;
}

.inserttext {
    background-color: transparent;
    align-content: center;
    width: 90%;
    height: 400px;
    resize: none;
    border: none;
    border: 1px solid transparent;
    outline: none;
    color: #0A3871;
    font-size: 25px;

}

.textresult {
    background-color: transparent;
    align-content: center;
    width: 90%;
    height: 400px;
    resize: none;
    border: none;
    border: 1px solid transparent;
    outline: none;
    font-size: 25px;

}

#text::placeholder {
    color: #0A3871;
    font-size: 25px;
}


#paste-button {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px 10px 5px 5px;
    background-color: transparent;
    border: none;
    color: #556f90;

}

#reset-button {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px 50px 5px 5px;
    background-color: transparent;
    border: none;
    color: #556f90;

}

#encrypt-btn {
    justify-content: center;
    font-size: 16px;
    padding: 5px 50px 5px 50px;
    margin-right: 10px;
    width: auto;
    height: 50px;
    background: #0A3871;
    color: #F3F5FC;
    border-radius: 24px;
    border: none;
}

#decrypt-btn {
    justify-content: center;
    font-size: 16px;
    padding: 5px 50px 5px 50px;
    width: auto;
    height: 50px;
    background: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border: none;
}

#copy-btn {
    justify-content: center;
    font-size: 16px;
    padding: 5px 50px 5px 50px;
    width: auto;
    height: 50px;
    background: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border: none;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #D8DFE8;
    color: #556f90;



}

.link {
    color: #0A3871;
    text-decoration: none;
}


@media screen and (max-width: 480px) {

    body {
        background: #F3F5FC;
        margin: 20px 10px 20px 10px;
        font-family: 'Inter', sans-serif;
    }

    #inputtexto {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    #text::placeholder {
        color: #0A3871;
        font-size: 16px;
    }

    #resultado {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .contenedor {
        background-color: transparent;
        justify-content: space-between;
        padding-top: 2%;
        
    }

    #imgbuscando {
        width: 80%;
        height: auto;
    }

    .inserttext {
        background-color: transparent;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        border: 1px solid transparent;
        color: #0A3871;
        font-size: 16px;
        outline: none;
        margin: none;
        padding: none;

    }

    .textresult {
        background-color: transparent;
        align-content: center;
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        border: 1px solid transparent;
        font-size: 16px;
        outline: none;
        margin: none;
        padding: none;

    }


    #encrypt-btn {
        justify-content: center;
        font-size: 12px;
        padding: 3px 20px 3px 20px;
        width: auto;
        height: 30px;
        background: #0A3871;
        color: #F3F5FC;
        border-radius: 24px;
        border: none;
    }

    #decrypt-btn {
        justify-content: center;
        font-size: 12px;
        padding: 3px 20px 3px 20px;
        width: auto;
        height: 30px;
        background: #D8DFE8;
        color: #0A3871;
        border-radius: 24px;
        border: none;
    }

    #reset-button {
        text-align: center;
        justify-content: center;
        font-size: 20px;
        background-color: transparent;
        border: none;
        color: #556f90;
        padding: 3px 3px 3px 3px;

    }

    footer {
        width: 100%;
        text-align: center;
        border-top: 1px solid #D8DFE8;
        color: #556f90;
        padding: 0px;
    }

}
@media screen and (max-width: 912px) {

    body {
        background: #F3F5FC;
        margin: 20px 10px 20px 10px;
        font-family: 'Inter', sans-serif;
    }

    #inputtexto {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    #text::placeholder {
        color: #0A3871;
        font-size: 16px;
    }

    #resultado {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .contenedor {
        background-color: transparent;
        justify-content: space-between;
        padding-top: 2%;
        
    }

    #imgbuscando {
        width: 80%;
        height: auto;
    }

    .inserttext {
        background-color: transparent;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        border: 1px solid transparent;
        color: #0A3871;
        font-size: 16px;
        outline: none;
        margin: none;
        padding: none;

    }

    .textresult {
        background-color: transparent;
        align-content: center;
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        border: 1px solid transparent;
        font-size: 16px;
        outline: none;
        margin: none;
        padding: none;

    }


    #encrypt-btn {
        justify-content: center;
        font-size: 12px;
        padding: 3px 20px 3px 20px;
        width: auto;
        height: 30px;
        background: #0A3871;
        color: #F3F5FC;
        border-radius: 24px;
        border: none;
    }

    #decrypt-btn {
        justify-content: center;
        font-size: 12px;
        padding: 3px 20px 3px 20px;
        width: auto;
        height: 30px;
        background: #D8DFE8;
        color: #0A3871;
        border-radius: 24px;
        border: none;
    }

    #reset-button {
        text-align: center;
        justify-content: center;
        font-size: 20px;
        background-color: transparent;
        border: none;
        color: #556f90;
        padding: 3px 3px 3px 3px;

    }

    footer {
        width: 100%;
        text-align: center;
        border-top: 1px solid #D8DFE8;
        color: #556f90;
        padding: 0px;
    }

}